<div class="flex flex-column h-screen w-screen">

  <!-- MAIN CONTENT (ocupa todo) -->
  <div id="main-content" class="absolute w-full h-full">
    <ng-content></ng-content>
  </div>

  <!-- Componente barra izquierda -->
  <div class="absolute flex flex-column top-0 left-0 z-2 w-auto h-auto">
    <!-- slot para encabezado -->
    <div class="flex-1 z-3" [style.width]="!isMobile ? getSidebarWidthPx() : 'auto'">
      <ng-content select="[slot-top]"></ng-content>
    </div>
    <!-- Botón ocultar/mostrar barra izquierda -->
    <div class="flex-1 absolute z-3" style="top:5.5rem; left:50%; transform:translateX(-50%)">
      <p-button rounded="true" class="btn-reset" (onClick)="onMinimized()">
        <svg
          class="{{!isminimized ? 'rotate-180' :''}}"
          width="44"
          height="34"
          viewBox="0 0 49 27"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M5 0L0 3.63636L24.5 15L49 3.63636L44.5 0L24.5 9.09091L5 0Z"
            fill="var(--p-primary-500)"
          />
          <path
            d="M5 14L0 17.1515L24.5 27L49 17.1515L44.5 14L24.5 21.8788L5 14Z"
            fill="var(--p-primary-500)"
          />
        </svg>
      </p-button>
    </div>
    <!-- Contenido barra izquierda -->
    @if (!isminimized) {
    <div class="absolute flex flex-row flex-wrap justify-content-center bg-leftbar-content w-full h-full "
      style="top:4.6rem;left:50%; transform:translateX(-50%);height:85vh;" [style.width]="!isMobile ? getSidebarWidthPx() : 'auto'">
      <div class="overflow-auto absulute z-2 bg-leftbar-content w-full"
        [style.transition]="!isResizing ? 'width 0.1s ease-out' : 'none'">
        <!-- slot para el contenido de la barra izquierda    -->
        <div class="relative align-items-center justify-content-center pt-6" style="height:85vh;">
          <ng-content select="[slot-content-leftbar]"></ng-content>
        </div>        
        <!-- Handle para redimensionar -->
        @if (!isMobile) {
          <div (mousedown)="startResize($event)" (mouseenter)="isHovering = true" (mouseleave)="isHovering = false"
            [class]="isResizing ? 'bg-primary' : 'surface-500'"
            style=" right: -6px; width: 6px; cursor: col-resize;  transition: background-color 0.15s ease; height:85vh;"
            class="absolute top-0 flex align-items-center justify-content-center">
            <!-- Icono pi-ellipsis-v centrado -->
            <i class="pi cric-zone_drag"></i>
          </div>
        }
      </div>
    </div>
    }
  </div>

  <!-- slot para contenedor flotante derecho  -->
  <div id="right-content" class="absolute top-0 right-0 h-auto z-1">
    <ng-content select="[slot-right]"></ng-content>
  </div>

  <!-- slot para contenedor flotante inferior  -->
  <ng-content select="[slot-bottom]"></ng-content>
  <!-- slot para minimapa  -->   
  <div class="absolute bottom-0 right-0 align-content-center mb-5 mr-3 z-1" id="mini-map-v2">
    <ng-content select="[slot-minimapa]"></ng-content>
  </div>
</div>