@font-face {
  font-family: 'linea-negra';
  src:  url('fonts/linea-negra.eot?5sxraz');
  src:  url('fonts/linea-negra.eot?5sxraz#iefix') format('embedded-opentype'),
    url('fonts/linea-negra.ttf?5sxraz') format('truetype'),
    url('fonts/linea-negra.woff?5sxraz') format('woff'),
    url('fonts/linea-negra.svg?5sxraz#linea-negra') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ln-"], [class*=" ln-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'linea-negra' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ln-add_data:before {
  content: "\e900";
}
.ln-capas:before {
  content: "\e901";
}
.ln-circulo:before {
  content: "\e902";
}
.ln-close:before {
  content: "\e903";
}
.ln-consulta_avanzada:before {
  content: "\e904";
}
.ln-consulta_simple:before {
  content: "\e905";
}
.ln-contorno_colombia:before {
  content: "\e906";
}
.ln-dibujar:before {
  content: "\e907";
}
.ln-dibujo:before {
  content: "\e908";
}
.ln-elipse:before {
  content: "\e909";
}
.ln-indicador_derecha:before {
  content: "\e90a";
}
.ln-indicador_izquieda:before {
  content: "\e90b";
}
.ln-informacion:before {
  content: "\e90c";
}
.ln-leyenda:before {
  content: "\e90d";
}
.ln-linea_libre:before {
  content: "\e90e";
}
.ln-linea:before {
  content: "\e90f";
}
.ln-maps:before {
  content: "\e910";
}
.ln-poligono:before {
  content: "\e911";
}
.ln-polilinea:before {
  content: "\e912";
}
.ln-punto:before {
  content: "\e913";
}
.ln-ruler:before {
  content: "\e914";
}
.ln-world:before {
  content: "\e915";
}
.ln-zoom_in:before {
  content: "\e916";
}
.ln-zoom_out:before {
  content: "\e917";
}
