version: '3.8'

services:
  angular-app:
    build:
      context: . 
      dockerfile: Dockerfile.dev  
    container_name: angular-dev
    ports:
      - "4200:4200"
    volumes:
      - .:/app
      - /app/node_modules  # Evita sobrescribir node_modules con los archivos locales
    environment:
      - CHOKIDAR_USEPOLLING=true  # Habilita la recarga en vivo en algunos entornos
    command: npm run start
