<div class="h-full pt-2">
  <p-toast key="err-message" position="top-right" />
  <!--Campo de buscar-->
  <div class="w-full">
    <app-search-layer-input
      [placeHolder]="placeHolderSearchInput"
      [iconClass]="iconClassSearchInput"
      [iconInputVisible]="iconInputVisibleSearchInput"
      [iconPosition]="iconPositionSearchInput"
      (textEmitter)="onInputFilterChanges($event)"
      class="w-full min-w-full"></app-search-layer-input>
  </div>
  <!--Arbol de capas-->
  <div class="pt-2 overflow-y-auto" id="scrollable_list">
    @if (isFiltering && layerTreeToRender.length === 0) {
      <p>{{ emptyFilteringMessage }}</p>
    } @else {
      <p-tree
        [style]="{ border: 'none' }"
        [loading]="isLoading"
        [value]="layerTreeToRender"
        selectionMode="checkbox"
        (onNodeSelect)="onNodeSelected($event)"
        (onNodeUnselect)="onNodeUnselected($event)"
        [(selection)]="selectedNodes"
        [emptyMessage]="emptyTreeListMessage">
        <ng-template let-node pTemplate="default">
          <p
            class="content_table__layer_title m-0 text-base"
            [ngClass]="{ 'font-bold': !node.leaf }">
            {{ node.label }}
          </p>
        </ng-template>
      </p-tree>
    }
  </div>
</div>
