.ICON-VISOR-OPIAC_borrador {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe914;');
}
.ICON-VISOR-OPIAC_mano-abierta {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe918;');
}
.ICON-VISOR-OPIAC_mano-cerrada {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe919;');
}
.ICON-VISOR-OPIAC_zoom-alejar {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe91a;');
}
.ICON-VISOR-OPIAC_zoom-aumentar {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe91b;');
}
.ICON-VISOR-OPIAC_ACERCAR {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe900;');
}
.ICON-VISOR-OPIAC_AJUSTES {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe901;');
}
.ICON-VISOR-OPIAC_ALEJAR {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe902;');
}
.ICON-VISOR-OPIAC_CAPA-ABIERTA {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe903;');
}
.ICON-VISOR-OPIAC_CAPA-CERRADA {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe906;');
}
.ICON-VISOR-OPIAC_CARPETA {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe907;');
}
.ICON-VISOR-OPIAC_CERRAR {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe908;');
}
.ICON-VISOR-OPIAC_COLOMBIA {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe909;');
}
.ICON-VISOR-OPIAC_EDICION {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90a;');
}
.ICON-VISOR-OPIAC_INFO {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90f;');
}
.ICON-VISOR-OPIAC_MINIMIZAR {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe911;');
}
.ICON-VISOR-OPIAC_BUFFER {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe904;');
}
.ICON-VISOR-OPIAC_BUSCAR {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe905;');
}
.ICON-VISOR-OPIAC_CONSULTA-AVANZADA {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90b;');
}
.ICON-VISOR-OPIAC_CONSULTA-SIMPLE {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90c;');
}
.ICON-VISOR-OPIAC_DESPLEGAR {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90d;');
}
.ICON-VISOR-OPIAC_DIBUJAR {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90e;');
}
.ICON-VISOR-OPIAC_IDENTIFICAR {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe910;');
}
.ICON-VISOR-OPIAC_INTERSECCION {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe912;');
}
.ICON-VISOR-OPIAC_MEDIR {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe913;');
}
.ICON-VISOR-OPIAC_SALIDA-GRAFICA {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe915;');
}
.ICON-VISOR-OPIAC_SELECCION-ESPACIAL {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe916;');
}
.ICON-VISOR-OPIAC_UBICAR-COORDENADA {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe917;');
}

