<div class="header-opiac bg-primary-500 w-full h-full flex">
  <!-- left side -->
  <div>
    <img src="projects/opiac/assets/images/leopardo-amazonico-opiac.png" alt="Leopardo Amazonico OPIAC" class="h-full">
  </div>
  <!-- right side -->
  <div class="flex justify-content-end">
    <img src="projects/opiac/assets/images/logo_sig.png" alt="Logo SIG OPIAC" class="header-opiac__logo mt-2 m-2">
    @if (!isMobile) {
      <div class="my-2 mx-3">
        <p-divider type="solid" layout="vertical" />
      </div>
      <img id="logo-opiac" src="projects/opiac/assets/images/logo_opiac.png" alt="Logo SIG OPIAC" class="header-opiac__logo m-2 mr-4">
    }
  </div>
</div>
