@font-face {
    font-family: 'Gill Sans MT';
    src: url('GillSansMT.woff2') format('woff2'),
        url('GillSansMT.woff') format('woff'),
        url('GillSansMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gill Sans MT';
    src: url('GillSansMT-Bold.woff2') format('woff2'),
        url('GillSansMT-Bold.woff') format('woff'),
        url('GillSansMT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gill Sans MT';
    src: url('GillSansMT-BoldItalic.woff2') format('woff2'),
        url('GillSansMT-BoldItalic.woff') format('woff'),
        url('GillSansMT-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gill Sans MT';
    src: url('GillSansMT-Italic.woff2') format('woff2'),
        url('GillSansMT-Italic.woff') format('woff'),
        url('GillSansMT-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

