<div class="ml-4">
  <app-mini-map-v2
    [mapPosition]="'bottom-left'"
    [variant]="'header'"
    [buttonIcon]="'ln-contorno_colombia'"
    [severity]="'secondary'"
    [bodyClass]="'bg-primary-500'"
    [headerClass]="'bg-primary-500 text-white'"
    [isPanEnabled]="true"
    [headerButtonSeverity]="'secondary'"
    [closeButtonIcon]="'pi pi-times'"
    [closeButtonSeverity]="'secondary'"
    [buttonRounded]="true"
    [buttonSize]="'large'"
    [headerTitle]="'Mapa Localización'"
    data-tour="locationMap"></app-mini-map-v2>
</div>
