<div class="relative w-full">
    @if (prependIcon) {
      <div class="absolute top-0 left-0 z-1 h-full w-1rem flex align-items-center justify-content-center ml-2 text-gray-400">
        <i [class]="prependIcon"></i>
      </div>
    }
    <p-autoComplete 
      [(ngModel)]="selectedItem" 
      [suggestions]="filteredItems" 
      (completeMethod)="filterItems($event)"
      [dropdown]="dropdown" 
      [placeholder]="placeholder" 
      (onSelect)="onDireccionSeleccionada()" 
      appendTo="body"
      field="label" 
      optionLabel="label"
      [dropdownIcon]="(isVisibleIconSearch && dropdown) ? 'pi pi-search' : undefined"
      [inputStyleClass]="(prependIcon ? 'pl-5 ' : '') + 'w-full'">
    </p-autoComplete>
</div>
